@page
@model DevScienceAdminUI.Views.Auth.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>DevScience</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1><a href="Home">Home</a></h1>
    <h2>Please login:</h2>
    <form method="post">
        <label>Login:</label><br />
        <input type="text" name="username" /><br />
        <label>Password:</label><br />
        <input type="text" name="password" /><br />
        <input type="submit" value="Send" />
    </form>
</body>
</html>

